<!DOCTYPE html>
<html>
    <head>
        <title>Vote Co.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        
<div class="jumbotron container-fluid">
    <div class="display">
        <h1 id="jumbo">VoteCo</h1>
        <button class="btn btn-primary"><a href="/topic">Start Voting!</a></button> 
    </div>
</div>

<div class="fixed-bottom flex-container">
    <div class="row">
        <div class="col-sm-4">
            <img src="../image/nodeJS.png" class="thumbnail center-block">
        </div>
        <div class="col-sm-4">
            <img src="../image/mongo.png" class="thumbnail center-block">
        </div>
        <div class="col-sm-4">
            <img src="../image/bootstrap.png" class="thumbnail center-block">
        </div>
    </div>
</div>

<% include partials/footer %>